<!--**********************************
    Sidebar start
***********************************-->
<div class="nk-sidebar">           
    <div class="nk-nav-scroll">
        <ul class="metismenu" id="menu">
            <!-- FIXME -->
            <li>
                <a href="/dashboard/overview" aria-expanded="false">
                <i class="icon-badge menu-icon"></i><span class="nav-text">Overview</span>
            </a>
            </li>
            <li>
                <a href="/dashboard/recordings" aria-expanded="false">
                <i class="icon-menu menu-icon"></i><span class="nav-text">Recordings</span>
            </a>
            </li>
            <li>
                <a href="/dashboard/cost-insights" aria-expanded="false">
                <i class="icon-notebook menu-icon"></i><span class="nav-text">Cost Insignts</span>
            </a>
            </li>
            <li>
                <a href="/dashboard/users" aria-expanded="false">
                <i class="icon-note menu-icon"></i><span class="nav-text">Users</span>
            </a>
            </li>
            <li>
                <hr>
            </li>
            <li>
                <a href="/login" aria-expanded="false">
                <i class="icon-arrow-left menu-icon"></i><span class="nav-text">Return To Website</span>
            </a>
            </li>
            
            
            
            
            
        </ul>
    </div>
</div>
<!--**********************************
    Sidebar end
***********************************-->