<footer>
    <div class="footer-top text-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 text-center">
                    <h4 class="text-white">Audio Fraud Detection</h4>                                             
                    <div class="col-auto conditions-section">
                        <a href="/about">about</a>
                        <a href="/#services">services</a>                        
                        <a href="/signup">sign up</a>
                        <a href="/dashboard">dashboard</a>
                        <a href="/api">api</a>
                        <a href="/upload">upload</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom text-center">
        
        <p class="mb-0">Copyright AFD 2022. All rights Reserved</p>  
        <a class="text-white" href="https://www.flaticon.com/free-icons/" title="phone icons">Icons created by Freepik, Andrejs Kirma, Smashicons - Flaticon</a>
        
    </div>
</footer>
